.hidden {
    display: none;
}
body{
    overflow: hidden;
    touch-action: pan-x pan-y;
}
img{
    height: 110vh;
    width: 100vw;
    display: flex;
    position: relative;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-top: -10px;
    background-attachment: fixed;
    object-fit: cover;
}
.content{
    margin-top: -50px;
    height: 110vh;
    width: 100vw;
    justify-content : center;
    z-index:1;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#clock{
    font-size: 200px;
    line-height: 0px;
}
#greeting{
    font-size: 80px;
    line-height: 50px;
}
input{
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: 3px white solid;
    background-color:transparent; 
    text-align: center;
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
}
input:focus{
    outline: none;
    color:white;
}
input::placeholder {
    color:white;
    font-size: 25px;
    text-align: center;
}
input:first-child{
    height: 40px;
    width: 400px;
}
input:last-child{
    height: 40px;
}
input:focus::placeholder{
    opacity: 0;
}
#quote{
    line-height: 10;
    margin-bottom:-100px;
    font-size: 20px;
}
ul {list-style-position: inside; margin:0;padding:0;}
#weather{
    line-height: 7;
    font-size: 20px;
}
#button{
    border-radius: 10px;
}
li{
    font-size: 30px;
}
button{
    border-radius: 10px;
    margin-left: 10px;
    border: none;
    background-color: white;
}